/* Extra styles for the landing page */
#container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main,
nav {
    padding: 10px 16px;
}

nav {
    grid-column: 2;
    border-left: 1px solid var(--g3);
}

footer {
    margin-top: 12px;
    grid-column: span 2;
    text-align: center;
    color: var(--g4);
}

h1 {
    display: flex;
    align-items: center;
}

h1 > img {
    display: inline;
    height: 2em;
    margin-right: 16px;
    border-radius: 50%;
}

/* "Menu" (social media list) */
.menu {
    list-style: none;
}

.menu i {
    font-size: 1.5em;
    width: 40px;
    text-align: center;
    margin-right: 8px;
}

.menu a {
    max-width: 300px;
    color: inherit;
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: background-color 0.2s ease-out;
}

.menu a:hover,
.menu a:focus-visible {
    background: var(--g2);
}

/* Coloured icons */
.fab::before,
.fa-brands::before {
    color: transparent;
    background-clip: text;
}

.fa-discord::before {
    background-image: linear-gradient(#7289da, #5865f2);
}

.fa-x-twitter::before,
.fa-github::before {
    background-image: linear-gradient(#fff, #ccc);
}

.fa-instagram::before {
    background-image: linear-gradient(
        55.01deg,
        #ff7a00 12.35%,
        #ff0169 56.52%,
        #d300c5 100%
    );
}

.fa-soundcloud::before {
    background-image: linear-gradient(#f70, #f30);
}

.fa-youtube::before {
    background-image: linear-gradient(#f00, #c00);
}

.fa-twitch::before {
    background-image: linear-gradient(#9147ff, #772ce8);
}

.fa-google-drive::before {
    background-image: linear-gradient(#34a853, #188038);
}

/* Mobile */
@media (max-width: 640px) {
    #container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    main,
    nav {
        padding: 0;
    }

    nav {
        border-left: none;
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid var(--g3);
    }

    h1 {
        justify-content: center;
    }

    .menu a {
        text-align: left;
        margin: auto;
    }
}
