/* Common styles used across all pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #161719;
    --control: #222326;
    --border: #55575e;
    --bright-border: #83858c;
    --foreground: #fffcf9;
    --dark-accent: #b21114;
    --accent: #dd1619;
    --bright-accent: #ff2b2e;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1,
h2 {
    font-weight: 800;
    margin-bottom: 12px;
}

a {
    color: var(--accent);
}
