/* Common styles used across all pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --g1: hsl(225, 5%, 9%);
    --g2: hsl(225, 5%, 14%);
    --g3: hsl(225, 4%, 32%);
    --g4: hsl(225, 4%, 52%);
    --g5: hsl(30, 4%, 70%);
    --g6: hsl(30, 100%, 99%);
    --r1: hsl(359, 83%, 38%);
    --r2: hsl(359, 83%, 48%);
    --r3: hsl(359, 100%, 58%);
}

body {
    background: var(--g1);
    color: var(--g6);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1,
h2 {
    font-weight: 800;
    margin-bottom: 12px;
}

a {
    color: var(--r2);
}

:focus-visible {
    outline: 1px solid red;
}
