// This file contains variables and mixins to share between all SCSS files.

//#region Colour palette

$background-dark: hsl(230, 6%, 3%);
$background: hsl(230, 6%, 8%);
$background-light: hsl(230, 6%, 13%);
$secondary: hsl(230, 5%, 30%);
$secondary-light: hsl(230, 5%, 50%);
$text-dark: hsl(25, 3%, 70%);
$text: hsl(25, 18%, 94%);
$text-light: hsl(25, 100%, 99%);
$accent-dark: hsl(359, 83%, 44%);
$accent: hsl(359, 88%, 52%);
$accent-light: hsl(359, 100%, 60%);
$transparent-button-hover: #fff1;

//#endregion

//#region Mixins

@mixin gradient-icon($classes, $image, $type: "brands") {
    @each $class in $classes {
        .fa-#{$type}.fa-#{$class}::before {
            color: transparent;
            background-clip: text;
            background-image: $image;
        }
    }
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    &:active {
        @content;
    }
}

@mixin animate($properties) {
    $name: inline-#{unique_id()};

    @keyframes #{$name} {
        @content;
    }

    animation: $name $properties;
}

//#endregion
