---
---

/*
  This file contains styles that apply to all pages.
*/

@use "sass:color";
@use "sass:math";
@use "_globals" as *;

//#region Pygments
// Source: https://marauderxtreme.github.io/pygmentize-stylesheets/

@use "pygment/highlight";
@use "pygment/one-dark";

:root {
  @include one-dark.one-dark-pygment;
}

//#endregion

@font-face {
  font-family: "Cascadia Code";
  //noinspection CssUnknownTarget
  src: url("{{ '/assets/font/CascadiaCode.woff2' | relative_path }}");
}

//#region Body

body {
  display: grid;
  justify-items: center;

  grid-template-areas:
        "header"
        "main"
        "footer";
  grid-template-rows: auto 1fr auto;

  min-height: 100svh;

  background: $background;
  color: $text;
  font-family: $paragraph-font;
  line-height: 1.375;
}

//#endregion

//#region Header

.site-header {
  grid-area: header;

  display: flex;
  justify-content: space-between;

  position: sticky;
  top: 0;
  width: 100svw;
  max-width: $page-width;
  z-index: 100;

  background: color.change($background, $alpha: 85%);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: 0 0 16px $background;

  a {
    @include transparent-button;
  }

  .site-title {
    display: flex;
    align-items: center;
    justify-self: left;

    padding: 10px $page-padding;

    color: $text-light;
    font-size: 1.75rem;
    font-weight: 900;
    font-family: $heading-font;

    img {
      height: 48px;
      border-radius: 50%;
      margin-right: 12px;
    }
  }

  .site-nav {
    display: flex;
    justify-self: right;

    .page-link {
      display: flex;
      align-items: center;

      padding: 0 $page-padding;
      color: $text-dark;
    }
  }
}

//#endregion

//#region Main

.material-symbols-rounded {
  line-height: 1;
  vertical-align: middle;
  padding-bottom: 2px;
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

sup {
  vertical-align: super;
  font-size: 0.85em;
}

sub {
  vertical-align: sub;
  font-size: 0.85em;
}

.page-content p a,
.site-footer a,
.post-link,
.go-back {
  color: $accent;
  transition: color 0.2s ease;

  &[target="_blank"]::after {
    @include fa-icon(" \f08e");
    font-size: 0.7em;
    vertical-align: super;
  }

  @include hover {
    text-decoration: underline;
    color: $accent-light;
  }

  @include active {
    color: $accent;
  }
}

.page-content {
  grid-area: main;

  width: 100svw;
  max-width: $page-width;

  padding: $page-padding $page-padding 0;

  p,
  .menu,
  dd,
  table,
  hr,
  blockquote {
    margin-bottom: $paragraph-margin;
  }

  p a {
    font-weight: 500;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: $paragraph-margin;

    color: $text-light;
    font-family: $heading-font;
    font-weight: 800;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.45rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  h6 {
    font-size: 1rem;
  }

  abbr {
    text-decoration: underline dotted $text-dark 1px;
  }

  .asterisk {
    color: $accent-light;
    font-weight: 500;
  }

  .small {
    color: $text-dark;
    font-size: 0.85rem;
    font-style: italic;
  }

  .footnote {
    &::before {
      content: "[";
      color: $accent-dark;
    }

    &::after {
      content: "]";
      color: $accent-dark;
    }
  }

  .footnotes {
    border-top: 1px solid $secondary;
    padding-top: $paragraph-margin;

    p:last-of-type {
      margin-bottom: 0;
    }
  }

  ul, ol {
    &:not(.menu, .post-list, .post-meta) {
      list-style: revert;
      margin-left: 1rem;
    }
  }

  .post-title {
    margin-bottom: 0.2rem;
  }

  .post-meta {
    margin-bottom: $paragraph-margin;

    li {
      display: inline;
      margin-right: 0.5rem;
      color: $text-dark;
    }
  }

  ::marker {
    color: $secondary-light;
    font-weight: 500;
  }

  dt {
    margin-bottom: 0.25rem;
  }

  dd {
    margin-left: 2rem;
  }

  hr {
    border-top: 1px solid $secondary;
  }

  table {
    border-radius: 7px;

    thead, tfoot {
      background: $secondary;
    }

    th {
      font-weight: 700;
    }

    th, td {
      border: 1px solid $secondary;
      padding: 4px 8px;
    }

    tbody tr {
      background: $background-light;

      &:nth-child(even) td {
        background: #ffffff0f;
      }
    }
  }

  blockquote {
    $border-width: 4px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    border-radius: $border-width;
    border-left: $border-width solid $secondary;
    padding: 0.5rem 1rem;

    > * {
      flex-basis: 100%;
    }

    p:last-of-type {
      margin-bottom: 0;
    }

    @include alert("note", dodgerblue, "info");
    @include alert("tip", limegreen, "lightbulb");
    @include alert("important", mediumpurple, "feedback");
    @include alert("warning", gold, "warning");
    @include alert("caution", $accent, "report");
  }

  code {
    font-family: $monospace-font;
    font-size: 0.85em;
  }

  p code {
    background-color: $background-light;
    border: 1px solid $secondary;
    padding: 4px 8px;
    border-radius: 1em;
  }

  figure.highlight,
  div.highlight {
    --highlight-hll-background-color: #{color.change($accent-light, $alpha: 25%)};

    margin-bottom: $paragraph-margin;
    padding: 0.55rem 0.75rem;

    border: 1px solid $secondary;
    border-radius: 0.75rem;
    overflow: scroll;
  }

  .highlight {
    background-color: $background-light;
    margin: 0;
    padding: 0;

    pre, table {
      margin: 0;
    }

    table {
      width: 100%;

      td {
        border: none;
        padding: 0;
      }

      pre {
        font-family: inherit;
      }
    }

    .lineno {
      color: $secondary-light;
      padding-right: 0.7rem;
      width: fit-content;
    }

    .hll {
      display: block;
      width: 100%;
    }
  }
}

//#endregion

//#region Menus

.menu {
  .menu-header {
    margin-bottom: 0;
  }

  a {
    display: grid;
    grid-template-areas:
            "icon title"
            "icon description";
    align-items: center;
    gap: 0.15rem;

    padding: 10px;

    @include transparent-button;
  }

  .menu-item-icon {
    grid-area: icon;

    margin-right: 0.4rem;
    font-size: 2rem;
    text-align: center;
  }

  .menu-item-title {
    grid-area: title;
    display: flex;
    align-items: center;

    font-weight: 700;
    margin: 0;
    font-size: 1.15rem;
  }

  .menu-item-description {
    grid-area: description;

    margin: 0;
    font-size: 0.85rem;
    color: $text-dark;
  }
}

$tag-height: 1.6rem;

.socials .menu {
  a {
    grid-template-columns: 60px auto;
  }

  .tag {
    margin-left: 0.5rem;
  }

  .menu-item-title {
    height: $tag-height;
  }

  @include gradient-icon(
                  radial-gradient($accent-light, $accent-dark),
                  ".fa-solid.fa-blog"
  );
  @include gradient-icon(
                  linear-gradient(#7289da, #5865f2),
                  ".fa-brands.fa-discord"
  );
  @include gradient-icon(
                  linear-gradient(#fff, #ccc),
                  ".fa-brands.fa-x-twitter",
                  ".fa-brands.fa-github"
  );
  @include gradient-icon(
                  linear-gradient(55.01deg, #ff7a00 12.35%, #ff0169 56.52%, #d300c5 100%),
                  ".fa-brands.fa-instagram"
  );
  @include gradient-icon(
                  linear-gradient(#f70, #f30),
                  ".fa-brands.fa-soundcloud"
  );
  @include gradient-icon(
                  linear-gradient(#f00, #c00),
                  ".fa-brands.fa-youtube",
                  ".fa-solid.fa-circle-play"
  );
  @include gradient-icon(
                  linear-gradient(#9147ff, #772ce8),
                  ".fa-brands.fa-twitch"
  );
  @include gradient-icon(
                  linear-gradient(#34a853, #188038),
                  ".fa-solid.fa-cloud"
  );
  @include gradient-icon(
                  linear-gradient(#59b9ff, #0a7aff),
                  ".fa-brands.fa-bluesky"
  );
}

//#endregion

//#region Tags

.tag {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;

  height: $tag-height;
  padding: 0 0.7rem 0 0.55rem;
  margin: 0 0.2rem;
  border-radius: math.div($tag-height, 2);
  z-index: 1;
  vertical-align: middle;

  font-family: $heading-font;
  font-weight: 600;
  font-size: 0.9rem;
  color: $text-light;
  text-shadow: 0 1px 5px color.change($background, $alpha: 50%);

  .material-symbols-rounded {
    font-size: 20px;
    padding: 0;
  }
}

.tag-new {
  background: linear-gradient($accent, $accent-dark);
}

.tag-inactive {
  background: linear-gradient(goldenrod, darkgoldenrod);
}

.tag-archived {
  background: linear-gradient($secondary-light, $secondary);
}

.tag-beta {
  background: linear-gradient(purple, indigo);
}

//#endregion

//#region Footer

.site-footer {
  grid-area: footer;

  width: 100%;
  max-width: $page-width;
  padding: $page-padding;

  color: $text-dark;
}

//#endregion

//#region Animated outline for focused elements
// Based on https://www.bram.us/2021/01/29/animating-a-css-gradient-border/

:focus-visible {
  position: relative;

  &::before {
    --gradient-angle: 0deg;

    content: "";
    position: absolute;
    left: -4px;
    top: -3px;
    width: calc(100% + 8px);
    height: calc(100% + 6px);

    outline: 2px solid $background;
    border: 2px solid $accent; // Fallback for older browser versions that don't support this
    border-image: linear-gradient(var(--gradient-angle), $accent-dark, $accent-light) 1;

    @include animate(3s linear 0s infinite) {
      to {
        --gradient-angle: 360deg;
      }
    }
  }
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

//#endregion
