---
---

// This file contains styles for post lists.

@use "globals" as *;

.post-list {
  list-style: none;
  margin: 0;

  .draft {
    opacity: 0.75;
  }

  .post-excerpt {
    font-size: 0.85rem;
  }
}
