<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {%- seo -%}
        {%- feed_meta -%}
        <meta name="theme-color" content="#dd1619">
        <link rel="shortcut icon" href="{{ "/assets/img/logo.png" | relative_url }}">

        <link href="https://fonts.googleapis.com" rel="preconnect">
        <link
            crossorigin
            href="https://fonts.gstatic.com"
            rel="preconnect">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link
            crossorigin="anonymous"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
            integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
            referrerpolicy="no-referrer"
            rel="stylesheet">
        <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    </head>
    <body>
        {{ content }}
    </body>
</html>